{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Djantaurant</title>
</head>

<body>
    {% include "messages.html" %}
    <header class="headerbg-index">

        <!-- Navigation bar-->

        <nav>
            <div class="nav-basic">
                <mark>Restaurant</mark>
                <div id="nav-container">
                    <a href="{% url 'main' %}">Home</a>
                    <a href="{% url 'reservation' %}">Booking</a>
                    <!--a href="{% url 'menu' %}">Menu</a-->
                </div>
            </div>

            <!-- Sign up/In-->

            <div class="class-sign">
                {% if user.is_authenticated %}
                <a class="sign" href="{% url 'account_logout'%}">Logout</a>
                {% else %}
                <a class="sign" href="{% url 'account_signup'%}">Sign up</a>
                <a class="sign" href="{% url 'account_login'%}">Sign in</a>
                <!--button class="sign" data-bs-toggle="modal" data-bs-target="#Login">Sign up</button>
                <button class="sign" data-bs-toggle="modal" data-bs-target="#Login">Sign in</button-->
                {% endif %}
            </div>
        </nav>

    </header>
    {% block content %}
    {% endblock %}
    <!-- Footer -->

    <footer>
        <div id="footer-container">
            <div class="footer-item">
                <h1>About us</h1>
                <div>
                    <p>Address: Dublin </p>
                    <p>Phone number: +353 85 9999 99</p>
                    <p>Email: myrestaurant@best.com</p>
                </div>
            </div>
            <div class="footer-item">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d76267.46336619613!2d-6.422148280328102!3d53.31893894666118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sie!4v1681846127752!5m2!1sen!2sie"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <!-- Social Links -->

        <div class="footer-social">
            <a href="https://facebook.com" target="_blank" rel="noopener">
                <i class="fa-brands fa-facebook"></i>
                <span>Facebook</span>
            </a>
            <a href="https://twitter.com/?lang=en" target="_blank" rel="noopener">
                <i class="fa-brands fa-twitter"></i>
                <span>Twitter</span>
            </a>
            <a href="https://www.google.com/maps/@53.3189389,-6.4221483,12z" target="_blank">
                <i class="fa-sharp fa-solid fa-location-dot"></i>
                <span>MyRestaurant</span>
            </a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/77887c0ffe.js" crossorigin="anonymous"></script>
</body>

</html>