{% extends 'template.html'%}
{%block content%}

    <main>
        <section class="about">
    
            <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h1>
            <p> Corrupti ullam porro esse placeat animi exercitationem, consequatur, reiciendis velit pariatur illum quis qui impedit! Odio cum aspernatur rerum, quis molestiae facere.</p>
    
        </section>
    
        <!-- Food container -->  

        <section class="food_container">
            {% for food in foods%}
            <div class="food_card">
                <div class="food_info">
                    <h2>{{food.name}}</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa velit voluptatem dolor libero modi sequi reprehenderit nobis</p>
                    <h4>{{food.price}} euros</h4>
                </div>
                <div class="food_pic" background-image=url("{{food.picture}}")></div>
            </div>
            {% endfor %}
            <!--
            <div class="food_card">
                <div class="food_info">
                    <h2>Paprika Potatoes</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa velit voluptatem dolor libero modi sequi reprehenderit nobis</p>
                    <h4>13 eurosF</h4>
                </div>
                <div class="food_pic"></div>
            </div>
    
            <div class="food_card">
                <div class="food_info">
                    <h2>Paprika Potatoes</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa velit voluptatem dolor libero modi sequi reprehenderit nobis</p>
                    <h4>13 euros</h4>
                </div>
                <div class="food_pic"></div>
            </div>
    
            <div class="food_card">
                <div class="food_info">
                    <h2>Paprika Potatoes</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa velit voluptatem dolor libero modi sequi reprehenderit nobis</p>
                    <h4>13 euros</h4>
                </div>
                <div class="food_pic"></div>
            </div>
            -->
            <!-- Buttons -->  

            <div class="button_container">
                <button>Menu</button>
                <button>Booking</button>
            </div>
        </section>
    </main>

{%endblock%}