{% extends 'base.html'%}

{% load static %}

{%block content%}

<main>
        <section class="about">

            <h1>Welcome to Djantaurant</h1>
            <p> We build the menu on the best quility ingredients available. Our menu changes seasonally from month to month. Great taste experience!</p>

        </section>

        <!-- Booking container -->

        <section class="booking_container">

            {% for booking in bookings%}
                    <div class="booking_card">
                        <div class="booking_info">
                            <h2>{{booking.restaurant.name}}</h2>
                            {% if user.is_superuser %}
                            <h2>{{booking.user}}</h2>
                            {% endif %}

                            <p class="bookingdt">{{booking.datetime}}</p>
                            <h4>{{booking.guest_number}}/person(s)
                                <button class="updateBooking" type="button">
                                <a href="update/{{booking.datetime.day}}/{{booking.datetime.month}}/{{booking.datetime.year}}/{{booking.datetime.hour}}/{{booking.datetime.minute}}?field=guest_number&new_value={{booking.guest_number|add:'-1'}}">-</a>
                                </button>
                                <button class="updateBooking" type="button">
                                <a href="update/{{booking.datetime.day}}/{{booking.datetime.month}}/{{booking.datetime.year}}/{{booking.datetime.hour}}/{{booking.datetime.minute}}?field=guest_number&new_value={{booking.guest_number|add:'1'}}">+</a>
                                </button>
                            </h4>
                            <form action="update/{{booking.datetime.day}}/{{booking.datetime.month}}/{{booking.datetime.year}}/{{booking.datetime.hour}}/{{booking.datetime.minute}}" method="POST">
                                {% csrf_token %}
                                <input type="date" id="start" value="2023-06-23" id="date" name="date">
                                <input type="time" name="time" min="14:00" max="20:00" value="14:00">
                                <input type="submit" value="Update">
                            </form>
                            <button class="deleteBooking" type="button">
                            <a href="delete/{{booking.datetime.day}}/{{booking.datetime.month}}/{{booking.datetime.year}}/{{booking.datetime.hour}}/{{booking.datetime.minute}}">Delete</a>
                            </button>

                        </div>
                    </div>
            {% endfor %}
            {% if user.is_superuser %}
            <div>
                <button class="deleteBooking" type="button">
                    <a href="./?order_by=user">User</a>
                </button>
                <button class="deleteBooking" type="button">
                    <a href="./?order_by=datetime">Datetime</a>
                </button>
            </div>
            {% endif %}
        </section>
    </main>

{%endblock%}