{% extends 'base.html'%}

{% load static %}

{%block content%}

<h2>Booking</h2>
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <form action="makereservation/" method="POST">
                        {%csrf_token%}
                        <div class="row no-margin">
                            <div class="col-md-3">
                                <div class="form-header">
                                    <h2>Book Now</h2>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row no-margin">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <span class="form-label">Time</span>
                                            <input id="reservation_start" class="form-control" type="datetime-local">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <span class="form-label">Guests</span>
                                            <input id="guests" class="form-control" type="number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-btn">
                                    <button class="submit-btn">Check availability</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}